.block{
  &__hero{
    &::before{
      content: '';
      background-image: url(../../images/tlo1.png);
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: -1;
    }
  }
  &__dzialania {
    background: linear-gradient(30deg, #FF8A00, #FFBA00);
  }
  &__categories{
    &__image{
      height: 400px;
      @include transition();
      &:hover{
        transform: scale(1.05);
      }
    }
  }
  &__poznaj{
    background-image: url(../../images/telko22.png);
    background-size: cover;
    padding: 75px 0;
    &__single{
      width: 230px;
      height: 230px;
      margin: auto;
      text-align: center;
      background-image: url(../../images/bgPNBItem.svg);
      background-size: 99%;
      background-position: center;
      background-repeat: no-repeat;
      img{
        width: 100px;
        height: auto;
      }
      &__wrapper{
        p{
          line-height: toRem(40);
        }
        z-index: 1;
        position: relative;
        &:nth-of-type(2n+1){
          z-index: 2;
        }
        &:nth-of-type(2n){
          z-index: 1;
          &::before, &::after{
            content: "";
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            z-index: -1;
          }
          &::before{
            background-image: url(../../images/pnb_snake_up.svg);
            left: -33%;
            top: 34px;
            width: 197px;
            height: 179px;
            transform: rotate(1.8deg);
          }
          &::after{
            background-image: url(../../images/pnb_snake_up.svg);
            right: -32.5%;
            top: 29px;
            width: 202px;
            height: 186px;
            transform: rotate(79.5deg);
          }
        }
      }
    }
  }
  &__aktualnosci{
    position: relative;
    &::after {
      content: '';
      width: 100%;
      height: 70%;
      left: 0;
      bottom: 0;
      position: absolute;
      background: linear-gradient(30deg, #FF8A00, #FFBA00);
      z-index: -1;
    }
    &__inner{
      box-shadow: 4px 0px 10px -1px rgb(0 0 0 / 25%);
      &__image{
        height: 300px;
        background-size: cover;
        background-repeat: no-repeat;
      }
      &__content{
        background: white;
        padding: 15px;
        h4{
          height: 120px;
        }
        &__excertp{
          font-size: toRem(19);
        }
        &__excerpt, h4{
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 4; /* number of lines to show */
          line-clamp: 4;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
  &__products-home{
    &__overlay{
      padding: 50px;
      background-size: cover;
      background-position: center;
      @include transition(.5s);
      &:hover{
        transform: scale(1.05);
      }
      &__title{
        padding: 40px;
        background: rgba($color: #fff, $alpha: .7);
      }
    }
  }
  &__contacts{
    @for $w from 0 through 7 {
      &__line-#{$w}{
        border: 1px solid #FFA800;
        opacity: 1;
        width: if($w == 6, 120%, 100%);
      }
    }
  }
  &__localization{
    &__map{
      & > iframe{
        height: 450px;
      }
    }
  }
  &__copakujemy-single{
    &__content-item{
      padding-bottom: 50px;
      margin-bottom: 50px;
      &:last-of-type{
        border: none !important;
        margin-bottom: 0;
      }
      ul{
        padding-left: 0;
        margin: 0;
        & > li{
          font-size: toRem(20);
          list-style-type: none;
          position: relative;
          padding-left: 30px;
          line-height: 1.7rem;
          &::before{
            content: '';
            background-size: contain;
            background: url(../../images/icon_list_item_single_cmz.svg) no-repeat center;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 20px;
          }
        }
      }
    }
    &__title{
      &__inner {
        background: rgba($color: #fff, $alpha: .7);
        padding: 32px 66px;
      }
    }
  }
  &__produkty{
    &.eko{
      .block__produkty__single{
        &__title {
          background: linear-gradient(90deg, #008337, #95C11F);
        }
      }
      .block__produkty__single__section ul > li::before{
        background: url(../../images/green-lsit-item.svg) no-repeat center;
      }
    }
    &__single{
      &__section{
        &__content{
          img{
            padding-left: 90px;
            max-width: 80%;
          }
        }
        ul > li {
          font-size: toRem(20);
          list-style-type: none;
          position: relative;
          padding-left: 38px;
          line-height: 1.2rem;
          &:not(&:first-of-type){
            margin-top: 35px;
          }
          &::before {
            content: '';
            background-size: contain;
            background: url(../../images/icon_list_item_single_cmz.svg) no-repeat center;
            position: absolute;
            left: 0;
            top: 5px;
            height: 20px;
            width: 20px;
          }
        }
      }
      &__title{
        background: linear-gradient(30deg, #FF8A00, #FFBA00);
      }
    }
  }
  &__mission{
    background-image: url(../../images/bg_mission.png);
    background-size: cover;
    &__column{
      position: relative;
      background-color: rgba($color: #F5F5F5, $alpha: 0.7);
      border: 6px solid map-get($colors, 'vibrant-green');
      border-radius: 50px;
      height: 100%;
      &__list{
        li {
          line-height: 1;
          margin-bottom: 20px;
        }
      }
      &__icon{
        position: absolute;
        width: 100%;
        text-align: center;
        top: -110px;
      }
    }
  }
}