.border{
  @each $colorName,$colorHex in $colors {
    &-#{$colorName}{
      border-color: $colorHex !important;
    }
  }
}
.bg{
  @each $colorName,$colorHex in $colors {
    &-#{$colorName}{
     background: $colorHex !important;
    }
  }
}
.btn{
  &-primary{
    @extend .rounded-pill;
    color: map-get($colors, 'white');
    text-decoration: none;
    font-size: toRem(24)rem;
    font-weight: 500;
    background: linear-gradient(30deg, #FF8A00, #FFBA00);
    padding: 25px 35px;
  }
}