.border{
  @each $colorName,$colorHex in $colors {
    &-#{$colorName}{
      border-color: $colorHex !important;
    }
  }
}
.bg{
  @each $colorName,$colorHex in $colors {
    &-#{$colorName}{
     background: $colorHex !important;
    }
  }
}
.btn{
  &-primary{
    @extend .rounded-pill;
    color: map-get($colors, 'white');
    text-decoration: none;
    font-size: toRem(24)rem;
    font-weight: 500;
    background: linear-gradient(30deg, #FF8A00, #FFBA00);
    padding: 25px 35px;
  }
}
.kbf{
  &__title{
    position: relative;
    text-align: center;
    @extend .fs-32;
    @extend .fw-700;
    &::after, &::before{
      content: '';
      height: 1px;
      @extend .bg-orange;
      position: absolute;
      top: 50%;
    }
    &::after{
      right: 0;
    }
    &::before{
      left: 0;
    }
    @for $w from 1 through 5 {
      &.mark-#{$w*10} {
        &::after, &::before {
          width: #{$w*10} + '%';
        }
      }
    }
  }
}