@media screen and (max-width: 1600px){
  .block__poznaj__single__wrapper:nth-of-type(2n)::before, .block__poznaj__single__wrapper:nth-of-type(2n)::after{
    display: none;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1400px;
  }
  .container-large{
    max-width: 1600px;
  }
  .container-small{
    max-width: 1024px;
  }
  html{
    font-size: 22px !important;
  }
}
@media screen and (max-width: 981px){
  html, body{
    font-size: 14px !important;
  }
}

@media screen and (max-width: 992px){
  .block {
    &__contacts {
      @for $w from 0 through 7 {
        &__line-#{$w} {
          border: 1px solid #FFA800;
          opacity: 1;
          width: 100%;
        }
      }

      &__person {
        text-align: center;
      }

      @each $name, $url in $icons {
        .icone-#{$name} {
          position: relative;
          right: 0px;
          display: inline-block;
          &::before {
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    &__localization{
      text-align: center;
      @each $name, $url in $icons {
        .icone-#{$name} {
          position: relative;
          right: 0px;
          display: inline-block;
          &::before {
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      &__map{
        & > iframe{
          height: 300px;
        }
      }
    }
  }
}
@media screen and (max-width: 678px){
  .icons{
    max-width: 70%;
    margin: auto;
  }
}