@media screen and (max-width: 1600px){
  .block__poznaj__single__wrapper:nth-of-type(2n)::before, .block__poznaj__single__wrapper:nth-of-type(2n)::after{
    display: none;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1400px;
  }
  .container-large{
    max-width: 1600px;
  }
  .container-small{
    max-width: 1024px;
  }
  html{
    font-size: 22px !important;
  }
}
@media screen and (max-width: 981px){
  html, body{
    font-size: 14px !important;
  }
}
@media screen and (max-width: 992px){
  .page__header__navigation ul li .sub-menu li > a{
    font-size: 1.5rem;
    line-height: 4rem;
  }
  .page__header__navigation ul li > .sub-menu{
    width: 100%;
  }
  .page__header__navigation ul li > .sub-menu.is-active{
    visibility: visible !important;
    opacity: 1 !important;
  }
  .page__header__navigation ul li:hover > .sub-menu{
    visibility: hidden;
    opacity: 0;
  }
  .kbf__title.mark-30::after, .kbf__title.mark-30::before {
    width: 10%;
  }
  .page__header__navigation{
    background: white;
    position: absolute;
    width: 100%;
    right: -100%;
    padding: 20px;
    z-index: 10;
    @include transition(.5s);
    &.is-active{
      right: 0;
    }
    ul{
      display: block;
      padding-left: 0;
      & > li{
        margin: 10px 0;
        a{
          font-size: 20px;
          line-height: 60px;
          display: block;
          text-align: center;
        }
      }
    }
  }
  .position-lg-absolute{
    position: initial !important;
  }
  .rounded-lg-5{
    border-radius: 40px !important;
  }
  .block {
    &__categories{
      &__image{
        height: auto;
      }
    }
    &__contacts {
      @for $w from 0 through 7 {
        &__line-#{$w} {
          border: 1px solid #FFA800;
          opacity: 1;
          width: 100%;
        }
      }

      &__person {
        text-align: center;
      }

      @each $name, $url in $icons {
        .icone-#{$name} {
          position: relative;
          right: 0px;
          display: inline-block;
          &::before {
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
    }
    &__localization{
      text-align: center;
      @each $name, $url in $icons {
        .icone-#{$name} {
          position: relative;
          right: 0px;
          display: inline-block;
          &::before {
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }
      &__map{
        & > iframe{
          height: 300px;
        }
      }
    }
  }
}
@media screen and (max-width: 678px){
  .icons{
    max-width: 70%;
    margin: auto;
  }
  .block__poznaj__single img{
    width: 80px;
  }
  block__poznaj__single {
    width: 200px;
    height: 200px;
  }
  .kbf__title.mark-40::after, .kbf__title.mark-40::before {
    width: 5%;
  }
}