$fsizes: 48,45,40,35,32,30,28,25,24,23,22,20,16,15,14,12,11;
$colors: (
        "white"  : #fff,
        "black"  : #000,
        "orange" : #FFA800,
        "green"  : #058536,
        "vibrant-green": #5EAE2D,
        "dark-green": #005C1F
);

$icons: (
        "mail": "../../images/mail.png",
        "phone": "../../images/phone.png",
);
