/* IMPORT CUSTOM FUNCTIONS */
@import "_functions.scss";
/* IMPORT ALL BS */
@import "../../node_modules/bootstrap/scss/bootstrap";
/* IMPORT CUSTOMISATION */
@import "_variables.scss";
@import "_fonts.scss";
@import "_elements.scss";

@import "../../node_modules/swiper/swiper-bundle.css";

html, body{
  -webkit-font-smoothing: antialiased;
  color: map-get($colors,"black");
}
html :where(.wp-block){
  max-width: 100%;
}

//style menu, navbar & all common elements here
.page{
  &__header{
    //position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    &__navigation{
      ul{
        display: flex;
        gap: 39px;
        li{
          list-style-type: none;
          &.fc-green{
            a{
              color: map-get($colors, 'green');
            }
          }
          a{
            @extend .fs-22;
            @extend .fw-600;
            color: black;
            text-transform: uppercase;
            text-decoration: none;
            @include transition();
            &:hover{
              color: map-get($colors, 'orange');
            }
          }
        }
      }
    }
  }
}
.wp-block-kbf-c-content{
  border: #adb2ad solid 1px;
  padding: 15px;
  p{
    margin-bottom: 0;
  }
}
//
@import "_blocks.scss";

/* IMPORT RESPONSIVE */
@import "_responsive.scss";